version="0.3.2"
env_files = [".env"]


[scripts]
# installation
install-rust="curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh"
install-surreal="curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh"


# Runs basic Commands
serve = "trunk serve"
run = "cargo run"


# tailwind development
tailwind-dev="cd tailwind-yew-builder && docker-compose up dev"
tailwind-watch="cd tailwind-yew-builder && docker-compose up watch"
tailwind-prod="cd tailwind-yew-builder && docker-compose up prod"
